<h2>All RESTful Restaurants</h2>

<% @restaurants.each do |restaurant| %>
  <ul>
    <br>
  <label><strong>Name: </strong></label><%= link_to restaurant.name, restaurant_path(restaurant) %><br><br>
  <img src = "<%=restaurant.img_url %>" height = 200 px, length = 200 px><br>
  <ul>
  <label><strong>Address: </strong></label><%= restaurant.address %><br>

  <label><strong>Rating: </strong></label><%= restaurant.rating %><br>
  </ul>
  </ul>
<% end %>
